<div class="container">
	<div class="others_top">

		<div class="pages_nav"><%= link_to "help", help_path %></div>
		<div class="pages_nav"><%= link_to "policies", policies_path %></div>

		<div class="pages_nav"><a href="http://blog.everoam.com">blog</a></div>









	</div>
<div class="top_word">
	About
</div>
<hr>

<div class="pages_text">

	Everoam is a place to share your adventures, experiences, and essentially...your roams!
	No roam is too big or small. We are developing a simple and easy way to share these
	experiences with your friends, family, and the internet!

	<hr>
	<p>Everyone on the team enjoys discovery and exploration. Almost as much as we love
	going out and experiencing, we love to see others discover and enjoy new things. That said, you will also
be seeing lots of roams from us here at Everoam! </p>
	<p>We are a small team based in New York and the Midwest and are available to
	 <a href="mailto:hello@everoam.com">contact</a> if you just want to say hi or anything else!</p>

	<hr>
	<h5 class="overh">FOUNDED</h5>
	<p class="underh">October 2014</p>
	<h5 class="overh">FOUNDER & CEO</h5>
	<p class="underh">Alex Beer</p>
	<h5 class="overh">EMAIL</h5>
	<p class="underh"><a href="mailto:hello@everoam.com">hello@everoam.com</a></p>
	<h5 class="overh">FIRST ROAM</h5>
	<p class="underh"><a href="#">White Mountains 2014</a></p>
</div>

</div>
