<body class="coming_soon">


<div class="sooncenter">

<div id="sooneveroam">EVEROAM <span class="aplace">a place to share adventures</span>

  <p>COMING SOON <span class="aplace"><a href="mailto:hello@everoam.com">contact us</a></span></p></div>


<div class="bison"></div>
<div class="bison"></div>
<div class="bison"></div>
<div class="bison"></div>
<div class="bison"></div>
<div class="bison"></div>


</div>


</body>
