<div class="container">
	<div class="others_top">
		<div class="pages_nav"><%= link_to "about", about_path %></div>
		<div class="pages_nav"><%= link_to "policies", policies_path %></div>

		<div class="pages_nav"><a href="http://blog.everoam.com">blog</a></div>

	</div>
	<div class="top_word">
		Help
	</div>
<hr>
	<div class="pages_text">

		<span class="q">How do I contact Everoam?</span>
		<p>You can email us at <a href="mailto:hello@everoam.com">hello@everoam.com</a></p>
		<span class="q">So...What is a roam?</span>
		<p>A roam is an experience, an adventure, or anything else that you believe can be storybooked!</p>
		<span class="q">Can I follow other people or like posts?</span>
		<p>Currently, those are not features. We are working on expanding and are finding new
		and exciting things for you to do. Updates will be common to make the site as awesome as
		we can get it.</p>
		<span class="q">Are there any tips for making a "good" roam?</span>
		<p> A roam is what you make of it! But...We can recommend a few things.
				<ul class="tips">
						<li>Use the best camera you have for taking the photographs</li>
						<li>Provide concise descriptions/captions</li>
						<li>Try to tell a story</li>
						<li>Make sure to share it with your friends!</li>
				</ul>
		<span class="q"> What if I want to upload more than 10 photos or captions?</span>
		<p> Currently, that is the limit. For longer, we would recommend having a
		part 1 and part 2 for your roam. </p>
		<span class="q"> Who makes Everoam?</span>
		<p> You can read about us and the site <%= link_to "here", about_path %></p>
		<span class="q"> When will Everoam be out of Beta?</span>
		<p> There is no set date yet but we are working hard! </p>
	</div>
</div>
