<div class="container">
	<div class="others_top">
		<div class="pages_nav"><%= link_to "about", about_path %></div>
		<div class="pages_nav"><%= link_to "help", help_path %></div>


		<div class="pages_nav"><a href="http://blog.everoam.com">blog</a></div>

	</div>
	<div class="top_word">
		Policies
	</div>
	<hr>
<div class="pages_text">

	<div class="terms">
		<p>
			PLEASE READ THESE TERMS OF USE BEFORE SIGNING UP AND PARTICIPATING IN
			EVEROAM.COM. THESE TERMS OUTLINE THE AGREEMENT BETWEEN THE WEBSITE AND
			THE USER. IT IS TO PROVIDE BOTH PARTIES WITH SAFETY WHILE USING THE
			SERVICES OFFERED BY EVEROAM.COM AND ANY ASSOCIATED WEBSITES. IF YOU
			ARE WILLING TO ENTER THE EVEROAM/USER AGREEMENT, THEN AND ONLY THEN, MAY
			YOU SIGN UP.
		</p>
		<p>
			The services that are offered through everoam.com are provided as is and does
			not contain any sort of warranty or protection. We reserve the right to
			discontinue any post, account, feature, or service all together with
			or without reason at our sole discretion.
		</p>
		<p>Since this is a site for all ages, you may not post any images or written text of
		an inappropriate nature. These posts will be removed immediately. Inappropriate posts
		contain, but are not limited to, images of sexual nature, gore, and illegal
		substances or actions. Please use common sense. </p>
		<p>Try to post only original images but if not,
			any image that is not your own must contain a citation or link from where it came.</p>
		<p>
			We reserve the right to modify any terms and conditions at any time
			for any reason, with or without notification to the users.
		</p>
		<p>
			We do not provide any security for theft of images or anything else that you put on the website,
			everoam.com.
		</p>


		<p>We will not share any of your personal information or send you any unrequested emails.</p>
		<p>we are not responsible for any hacking or other illegal activity that may compromise our database. If
		this is to happen, legal action will be taken</p>
		<hr>
		<p> For any questions, please email us at <a href="mailto:hello@everoam.com">hello@everoam.com</a></p>
	</div>
</div>
</div>
