/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */

.tiptop{
	height:3px;
	background-color:#e74c3c;
	font-size:2px;
	font-weight:bold;
	text-align:center;
	color:white;
}


body{
	min-width:810px;
}

.center{
	text-align:center;
}
.join{
	font-size:20px;
}
.footer{
	height:50px;
	margin-top:120px;
	width:290px;
	background-color:rgba(240,240,240,.1);
}

.footies{
	display:inline;
	color:white;
	line-height:50px;
	margin-left:10px;
}
.footies a{
	color:rgba(255,255,255,.8);

}
.registrations{
	margin:auto;
	width:300px;
	font-family:Helvetica;
  border-radius:5px;
  background-color:rgba(240,240,240,.5);
	border:1px solid rgba(20,140,20,.1);
	margin-top:50px;
	position:relative;
}
.registrationspage{
	margin:auto;
	width:30%;
	min-width:300px;
	font-family:Helvetica;
	border-radius:5px;
	background-color:rgba(240,240,240,.7);
	border:1px solid rgba(210,210,210,.9) ;
}

  .login_registrations{
  margin:auto;
  margin-top:30px;
  min-width:300px;
	width:30%;
  height:200px;
	border-radius:5px;
  font-family:Helvetica;
	background-color:rgba(240,240,240,.7);
	border:1px solid rgba(210,210,210,.9) ;
}
.edit_registrations{
	margin:auto;
	margin-top:40px;
	width:50%;
	min-width:300px;
	background-color:rgba(240,240,240,.8);
	padding:20px;
	border-radius:10px;
	padding-bottom:0px;
}
.twelve{
	font-size:10px;
  font-weight:bold;
}
.float_right{
	float:right;
}
.float_left{
	float:left;
}
.smallhead{
  font-size:10px;
  font-family:Helvetica;
  font-weight:bold;
  line-height:60px;
  margin-left:10px;
}
.brand{
	line-height:60px;
	font-size:22px;
	color:#e74c3c;
	font-weight:lighter;
  letter-spacing:1px;
  font-family:helvetica;

}
.logo{
	display:inline;
	float:left;
}
.brand:hover{
	text-decoration:none;
	color: rgba(255,100,61,0.9);
}
body a{
	color:rgba(5,10,6,0.6);
}
body a:hover{
	color:rgba(255,100,61,0.7);
  text-decoration:none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select';
  display: inline-block;
  border: 1px solid #e74c3c;
  padding: 5px;
  text-align:center;
  width:75px;
  font-size: 14px;
  color:#e74c3c;
	margin-top:4px;

}
.custom-file-input:hover::before {
  background-color:#e74c3c;
  color:white;
  cursor:hand;
}
