// Place all the styles related to the roams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#roams{
	margin: 0 auto;
}
.box{
  margin: 5px;
  width: 260px;
}
.box img{
	width:100%;
}
.title{
	margin:auto;
	width:50%;
}
.location{
	margin:auto;
	width:50%;
}
.formform{
	border-bottom:1px dotted orange;
}
#formtwo{
	margin-top:5px;

	width:100%;
}
#formthree{

margin-top:-20px;
	width:100%;
}
#formfour{
margin-top:-20px;

	width:100%;
}
#formfive{
margin-top:-20px;

	width:100%;
}
#formsix{

margin-top:-20px;
	width:100%;

}

#formseven{
margin-top:-20px;
	width:100%;
}

#formeight{
margin-top:-20px;
	width:100%;
}
#formnine{
margin-top:-20px;
	width:100%;
}
#formten{
margin-top:-20px;
	width:100%;
}
.bottom_of_page{
	width:100%;
	height:40px;
	background-color:white;
}
