// Place all the styles related to the roams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#roams{
	margin: 0 auto;
}
.box{
  margin: 5px;
  width: 260px;
}
.box img{
	width:100%;
}
.title{
	margin:auto;
	width:50%;
}
.location{
	margin:auto;
	width:50%;
}

.bottom_of_page{
	width:100%;
	height:40px;
	background-color:white;
}

.roundbutton{
	border-radius:180px;
	background-color:white;
	border:1px solid rgba(180,180,180,.9);
	color:rgba(180,180,180,.9);
	font-size:12px;
}
.roundbutton:focus{
	color:#e74c3c;
	border:1px solid #e74c3c;

}
button:focus{
	outline:0;
	}

.btn:focus{
	outline:0;
}

.margin-left_caption{
	margin-left:10%;
}

.user_and_edit{
	margin-left:50px;
}

.glyphicon-plus{
text-align:center;
margin:auto;
margin-top:3px;
margin-left:1px;
font-size:17px;
}
