<div class="footer">
  <ul>
    <li class="footies"><%= link_to "about", about_path %></li>
    <li class="footies"><a href="http://blog.everoam.com">blog</a></li>
    <li class="footies"><%= link_to "policies", policies_path %></li>
    <li class="footies"><%= link_to "help", help_path %></li>
  </ul>


</div>
